<footer>

  <div class="container">

    <div class="footer-content">

      <div class="footer-contact">
        <p><strong>Contact:</strong></p>
        <p>Name: Cian McKelvey</p>
        <p>Email: <a href="mailto:cian.p.mckelvey@gmail.com">cian.p.mckelvey@gmail.com</a></p>
        <p>Phone Number: <a href="tel:+353831585083">+353 (83) 158 5083</a></p>
        <p><a href="https://www.linkedin.com/in/cian-mc-kelvey-a1bb65206/">Visit my LinkedIn</a></p>
      </div>

      <div class="footer-description">
        <p><strong>Little Info:</strong></p>
        <p>Final year project for Ulster University - Belfast. Provides the ability to generate computer builds based on build input parameters.</p>
      </div>

    </div>

  </div>

</footer>

