<footer>

  <div class="container">

    <div class="footer-content">

      <div class="footer-contact">
        <!--Displays basic contact information-->
        <p><strong>Contact:</strong></p>
        <p>Name: Cian McKelvey</p>
        <p>Email: <a href="mailto:cian.p.mckelvey@gmail.com">cian.p.mckelvey@gmail.com</a></p>
        <p>Phone Number: <a href="tel:+353831585083">+353 (83) 158 5083</a></p>

        <!--Displays logo images for each of the links-->
        <!--  Target being set to _blank cause the links to open in new tabs  -->
        <div class="social-links">
          <a href="https://www.linkedin.com/in/cian-mc-kelvey-a1bb65206/" target="_blank">
            <img [src]="'assets/Linkedin-in-Logo.png'" alt="LinkedIn Profile" height="15" width="30">
          </a>
          <a href="https://github.com/Cian-McKelvey" target="_blank">
            <img [src]="'assets/Github_Logo.png'" alt="GitHub Profile" height="15" width="30">
          </a>
          <a href="https://twitter.com/KelveyMc15753" target="_blank">
            <img [src]="'assets/logo-white.png'" alt="X/Twitter Profile" height="15" width="30">
          </a>
        </div>

      </div>

      <div class="footer-description">
        <p><strong>Little Info:</strong></p>
        <p>Final year project for Ulster University - Belfast. Provides the ability to generate computer builds based on build input parameters.</p>
      </div>

    </div>

  </div>

</footer>

