<app-navbar></app-navbar>

<div *ngIf="userService.getIsUserLoggedIn() && userService.getIsUserAdmin()" class="flex flex-col items-center justify-center min-h-screen">
  <div class="mb-8">
    <div class="flex space-x-4">

      <!--Buttons that add some site navigability-->
      <button (click)="returnHome()" class="bg-yellow-500 hover:bg-yellow-600 text-gray-800 font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400">Go back to Homepage</button>
      <button (click)="returnToAdmin()" class="bg-yellow-500 hover:bg-yellow-600 text-gray-800 font-semibold py-2 px-4 rounded-lg focus:outline-none focus:ring-2 focus:ring-yellow-400">Go Back to Admin Page</button>
    </div>
  </div>

  <div class="w-full max-w-3xl">
    <!--Show the users once a response has been received and there are valid users on the app-->
    <div *ngIf="areUsersFetched && userAccounts.length > 0">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <div class="p-6 rounded-lg bg-gray-200" *ngFor="let user of userAccounts | paginate: { itemsPerPage: 10, currentPage: pageNum }">
          <h3 class="text-lg font-bold mb-2">{{ user.username }}</h3>
          <p class="mb-2">{{ user.registration_date }}</p>
          <p class="mb-4">{{ user.user_id }}</p>
          <button (click)="adminDeleteUser(user.user_id)" class="bg-red-500 hover:bg-red-600 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring-2 focus:ring-red-400">Delete This User</button>
        </div>
      </div>

      <!-- Pagination controls reference "pageNum" from the TypeScript file -->
      <div class="mt-6 flex justify-center">
        <pagination-controls class="pagination-controls" (pageChange)="pageNum = $event"></pagination-controls>
      </div>
    </div>

    <!--Shown if there are no site users, shouldn't be possible to see this but is there just in case-->
    <div *ngIf="areUsersFetched && userAccounts.length === 0" class="p-6 rounded-lg bg-gray-200">
      <h1 class="text-lg font-bold">There are no users of the site currently</h1>
    </div>

    <!-- Show a loading message while users are being fetched -->
    <div *ngIf="!areUsersFetched" class="p-6 rounded-lg bg-gray-200">
      <p class="text-gray-800">Loading users...</p>
    </div>
  </div>
</div>

<!--Message shown in the user is logged in, but not to an admin account-->
<div *ngIf="userService.getIsUserLoggedIn() && !userService.getIsUserAdmin()" class="flex flex-col items-center justify-center min-h-screen">
  <div class="p-6 rounded-lg bg-gray-200 text-center mt-[-20%]">
    <h1 class="text-xl font-bold mb-4 text-red-600">Access Denied</h1>
    <p class="text-red-600">You do not have permission to view this page. Only administrators can access the list of all users.</p>
  </div>
</div>

<!--Message shown in the user isn't logged in-->
<div *ngIf="!userService.getIsUserLoggedIn()">
  <div class="flex flex-col items-center justify-center min-h-screen">
    <div class="p-6 rounded-lg bg-gray-200 text-center mt-[-20%]">
      <h1 class="text-xl font-bold mb-4 text-red-600">You are not logged in</h1>
      <p class="text-red-600">You must be logged in to an admin account to view the pages contents.</p>
    </div>
  </div>
</div>
