<nav class="bg-[#333] shadow-lg">
  <div class="container mx-auto px-4">
    <div class="flex items-center justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0">
          <a routerLink="/" class="text-white" [class.active]="isActiveRoute('/')">Home</a>
        </div>
        <div class="hidden md:block">
          <ul class="ml-10 flex items-baseline space-x-4">
            <li>
              <a routerLink="/new-build" class="text-white hover:text-gray-300" [class.active]="isActiveRoute('/new-build')">Create a New Build</a>
            </li>
            <li>
              <a routerLink="/all-builds" class="text-white hover:text-gray-300" [class.active]="isActiveRoute('/all-builds')">View all Builds</a>
            </li>
          </ul>
        </div>
      </div>

<!--      <div class="hidden md:block">-->
<!--        <div class="ml-4 flex items-center md:ml-6">-->
<!--          <div class="form-inline">-->
<!--            <a routerLink="/account" class="text-yellow-500 hover:text-yellow-300" [class.active]="isActiveRoute('/account')">Account</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <div class="form-inline">
            <a routerLink="/account" [class.active]="isActiveRoute('/account')">
              <img [src]="'assets/user_symbol.svg'" alt="User Symbol" class="h-10 w-10" />
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</nav>

