<div class="bg-[#333] shadow-lg min-h-screen flex flex-col justify-center items-center">
  <h1 class="text-3xl text-white font-bold mb-8">Create Account</h1>

  <form [formGroup]="createAccountForm" (ngSubmit)="onCreateAccountSubmit()" class="max-w-md mx-auto mt-8 shadow-lg bg-white rounded-lg p-8 text-gray-900">
    <div class="mb-4">
      <label for="create-username" class="block text-gray-700 text-sm font-bold mb-2">Username</label>
      <input type="text" id="create-username" formControlName="username" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-yellow-500" placeholder="Enter your username">
      <div *ngIf="isInvalidSignup('username')" class="text-red-500 text-xs mt-1">Invalid username</div>
    </div>

    <div class="mb-4">
      <label for="create-password" class="block text-gray-700 text-sm font-bold mb-2">Password</label>
      <input type="password" id="create-password" formControlName="password" class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-yellow-500" placeholder="Enter your password">
      <div *ngIf="isInvalidSignup('password')" class="text-red-500 text-xs mt-1">Invalid password</div>
    </div>

    <div class="mb-4 text-sm text-gray-600">
      <p>By creating an account, you agree to allow us to collect and process your personal data, including your username and password, for the purpose of maintaining your account and providing you with our services.</p>
      <div class="mt-2 flex items-center">
        <input type="checkbox" id="consent-checkbox" formControlName="consent" class="form-checkbox h-5 w-5 text-yellow-500 ng-invalid:border-red-500" [ngClass]="{'border-red-500': createAccountForm.get('consent').invalid && (createAccountForm.get('consent').dirty || createAccountForm.get('consent').touched)}">
        <label for="consent-checkbox" class="ml-2">I consent to the collection and processing of my personal data as described above.</label>
      </div>
      <div *ngIf="createAccountForm.get('consent').invalid && (createAccountForm.get('consent').dirty || createAccountForm.get('consent').touched)" class="text-red-500 text-xs mt-1">
        You must agree to our terms to create an account.
      </div>
    </div>

    <button type="submit" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">Create Account</button>

    <hr class="my-4">
    <p class="text-center text-gray-700">Or you can log in using the link below</p>
    <a routerLink="/" class="block mx-auto mt-4 bg-yellow-300 hover:bg-yellow-400 text-gray-900 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Log In</a>
  </form>
</div>
