<div *ngIf="userService.getIsUserLoggedIn()">

  <app-navbar></app-navbar>

  <div *ngIf="!isBuildCreated">
    <form [formGroup]="priceForm" (ngSubmit)="submitPrice()" class="max-w-md mx-auto bg-white rounded-lg shadow-xl p-6 mt-15">
      <label for="priceInput" class="block text-gray-700">Enter Price:</label>
      <input type="number" id="priceInput" formControlName="price" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-[#333] focus:ring focus:ring-[#333] focus:ring-opacity-50">

      <span *ngIf="isIncomplete()" class="text-red-500">Please enter a valid price up to £2000</span>
      <button *ngIf="!isIncomplete()" type="submit" class="mt-4 bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-4 rounded-full transition duration-300 ease-in-out focus:outline-none focus:shadow-outline">Submit</button>
    </form>

    <app-footer></app-footer>
  </div>



  <div *ngIf="isBuildCreated && buildInfo" class="bg-gray-100 p-6 rounded-lg grid grid-cols-2 gap-6">

    <h2 class="text-2xl font-bold col-span-2 mb-4">Your new build!</h2>

    <div>
      <h3 class="text-lg font-bold">CPU</h3>
      <p>{{ buildInfo.CPU.value }}</p>
      <p>£{{ buildInfo.CPU.price }}</p>

      <select [(ngModel)]="selectedParts['CPU']" (ngModelChange)="updatePart('CPU')">
        <option value="" disabled selected>Click here to edit the CPU</option>
        <option *ngFor="let cpu of cpuArray" [ngValue]="{ partName: cpu.partName, partPrice: cpu.partPrice }">
          {{ cpu.partName }} - £{{ cpu.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">Case</h3>
      <p>{{ buildInfo.Case.value }}</p>
      <p>£{{ buildInfo.Case.price }}</p>

      <select [(ngModel)]="selectedParts['Case']" (ngModelChange)="updatePart('Case')">
        <option value="" disabled selected>Click here to edit the Case</option>
        <option *ngFor="let myCase of caseArray" [ngValue]="{ partName: myCase.partName, partPrice: myCase.partPrice }">
          {{ myCase.partName }} - £{{ myCase.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">GPU</h3>
      <p>{{ buildInfo.GPU.value }}</p>
      <p>£{{ buildInfo.GPU.price }}</p>

      <select [(ngModel)]="selectedParts['GPU']" (ngModelChange)="updatePart('GPU')">
        <option value="" disabled selected>Click here to edit the GPU</option>
        <option *ngFor="let gpu of gpuArray" [ngValue]="{ partName: gpu.partName, partPrice: gpu.partPrice }">
          {{ gpu.partName }} - £{{ gpu.partPrice }}
        </option>
      </select>
    </div>

    <div>
      <h3 class="text-lg font-bold">Motherboard</h3>
      <p>{{ buildInfo.Motherboard.value }}</p>
      <p>£{{ buildInfo.Motherboard.price }}</p>

      <select [(ngModel)]="selectedParts['Motherboard']" (ngModelChange)="updatePart('Motherboard')">
        <option value="" disabled selected>Click here to edit the Motherboard</option>
        <option *ngFor="let motherboard of motherboardArray" [ngValue]="{ partName: motherboard.partName, partPrice: motherboard.partPrice }">
          {{ motherboard.partName }} - £{{ motherboard.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">Power Supply</h3>
      <p>{{ buildInfo.PowerSupply.value }}</p>
      <p>£{{ buildInfo.PowerSupply.price }}</p>

      <select [(ngModel)]="selectedParts['PowerSupply']" (ngModelChange)="updatePart('PowerSupply')">
        <option value="" disabled selected>Click here to edit the Power Supply</option>
        <option *ngFor="let psu of psuArray" [ngValue]="{ partName: psu.partName, partPrice: psu.partPrice }">
          {{ psu.partName }} - £{{ psu.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">RAM</h3>
      <p>{{ buildInfo.RAM.value }}</p>
      <p>£{{ buildInfo.RAM.price }}</p>

      <select [(ngModel)]="selectedParts['RAM']" (ngModelChange)="updatePart('RAM')">
        <option value="" disabled selected>Click here to edit the Ram</option>
        <option *ngFor="let ram of ramArray" [ngValue]="{ partName: ram.partName, partPrice: ram.partPrice }">
          {{ ram.partName }} - £{{ ram.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">Storage</h3>
      <p>{{ buildInfo.Storage.value }}</p>
      <p>£{{ buildInfo.Storage.price }}</p>

      <select [(ngModel)]="selectedParts['Storage']" (ngModelChange)="updatePart('Storage')">
        <option value="" disabled selected>Click here to edit the Storage</option>
        <option *ngFor="let storage of storageArray" [ngValue]="{ partName: storage.partName, partPrice: storage.partPrice }">
          {{ storage.partName }} - £{{ storage.partPrice }}
        </option>
      </select>

    </div>

    <div>
      <h3 class="text-lg font-bold">Overall Price</h3>
      <!-- Trims to two decimal places -->
      <p>£{{ buildInfo.OverallPrice | number: '1.2-2' }}</p>
    </div>

    <div class="col-span-2">
      <h3 class="text-lg font-bold">Created On</h3>
      <p>{{ buildInfo.created_at }}</p>
    </div>

    <!-- Button to refresh the page which will reset the html -->
    <button onclick="window.location.reload();" class="mt-4 bg-[#333] hover:bg-[#333]-700 text-yellow-500 hover:text-yellow-300 font-bold py-2 px-4 rounded">
      Create Another Build
    </button>

    <div *ngIf="editedPartsCount > 0">
      <button class="mt-4 bg-[#333] hover:bg-[#333]-700 text-yellow-500 hover:text-yellow-300 font-bold py-2 px-4 rounded"
              (click)="submitBuildReplacement()">
        Save Edits To Created Build
      </button>
    </div>

  </div>

</div>

<div *ngIf="!userService.getIsUserLoggedIn()">

  <h1>Same but not logged in</h1>

  <app-footer></app-footer>

</div>
